<table class="applicantInfo">
    <tbody>
        <tr>
            <th class="applicantInfo">Last Name(s):</th>
            <td>
                <span id="lastName">{{{Biographics.LastName}}}</span>
            </td>
        </tr>
        <tr>
            <th>Rest of Name:</th>
            <td>
                <span id="restOfName">{{{Biographics.RestOfName}}}</span>
            </td>
        </tr>
        <tr>
            <th>Generational Suffix:</th>
            <td>
                <span id="suffix">{{Biographics.GenSuffix}}</span>
            </td>
        </tr>
        <tr>
            <th>Date of Birth:</th>
            <td>
                <span id="dob">{{Biographics.DateOfBirth}}</span>
            </td>
        </tr>
        <tr>
            <th>Gender:</th>
            <td>
                <span id="gender">{{Biographics.Gender}}</span>
            </td>
        </tr>
    </tbody>
</table>
