<h3>Contact Information</h3>

                    <table class="applicantInfo">
                        <tbody>
                            <tr>
                                <th>Address of Residence:</th>

                                <td>
                                    <span id="address">{{Address}}</span>
                                    <!--<span id="address2"></span>
                                                        <span id="address3"></span>
                                                        <span id="address4"></span>-->
                                    <span id="city">{{Address}}</span>
                                    <span id="state">{{Address}}</span>
                                    <span id="zip">{{Address}}</span>
                                    <span id="country">{{Address}}</span>
                                </td>
                            </tr>

                            <tr>
                                <th>E-mail Address:</th>

                                <td>
                                    <span id="email">{{ContactInfo.Email}}</span>
                                </td>
                            </tr>

                            <tr>
                                <th>Telephone:</th>

                                <td>
                                    <span id="phone">{{ContactInfo.Phone}}</span>
                                </td>
                            </tr>

                            <tr>
                                <th>Fax:</th>

                                <td>
                                    <span id="fax">{{ContactInfo.Fax}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>